footer{
    background-color: #0f0;
    height: 60px;
    width: 100%;
    position: fixed; 
    bottom: 0;
}
p{
    padding-top: 6px;
    text-align: center;
    justify-content: center;
}